<div onclick="tree_toggle(arguments[0])">
    <div>Дерево</div>
    <ul class="Container">
        <li class="Node IsRoot ExpandClosed">
            <div class="Expand"></div>
            <input type="checkbox"/>
            <div class="Content">Папка 1</div>
            <ul class="Container">
                <li class="Node ExpandClosed">
                    <div class="Expand"></div>
                    <input type="checkbox"/>
                    <div class="Content">Папка 1.1 </div>
                    <ul class="Container">
                        <li class="Node ExpandLeaf IsLast">
                            <div class="Expand"></div>
                            <input type="checkbox"/>
                            <div class="Content">Папка 1.1.2</div>
                        </li>
                    </ul>
                </li>
                <li class="Node ExpandLeaf IsLast">
                    <div class="Expand"></div>
                    <input type="checkbox"/>
                    <div class="Content">Папка 1.2</div>
                </li>
            </ul>
        </li>
        <li class="Node IsRoot ExpandClosed">
            <div class="Expand"></div>
            <input type="checkbox"/>
            <div class="Content">Папка 2<br />Заголовок</div>
            <ul class="Container">
                <li class="Node ExpandLeaf IsLast">
                    <div class="Expand"></div>
                    <input type="checkbox"/>
                    <div class="Content">Папка 2.1</div>
                </li>
            </ul>
        </li>
        <li class="Node ExpandClosed IsRoot IsLast">
            <div class="Expand"></div>
            <input type="checkbox"/>
            <div class="Content">Папка 3</div>
            <ul class="Container">
                <li class="Node ExpandLeaf IsLast">
                    <div class="Expand"></div>
                    <input type="checkbox"/>
                    <div class="Content">Папка 3.1</div>
                </li>
            </ul>
        </li>
    </ul>
</div>